<header class="hidden-print">
	<div class="container">
		<ul role="menu" class="language">
			<li role="menuitem" [ngClass]="getActiveClassName('de')"><a href="?lang=de" target="_self">D</a> |</li>
			<li role="menuitem" [ngClass]="getActiveClassName('fr')"><a href="?lang=fr" target="_self">F</a></li>
			<!-- <li role="menuitem" [ngClass]="getActiveClassName('fr')"><a href="?lang=fr" target="_self">F</a> |</li> -->
			<!--<li role="menuitem" [ngClass]="getActiveClassName('it')"><a href="?lang=it" target="_self">I</a></li>-->
		</ul>
	</div>
</header>

<main>
	<div class="container noGutter">
		<div class="appContainer">
			<div class="row row-offcanvas row-offcanvas-left">
				<div class="col-xs-12 noGutter container-border">
					<!-- NAVIGATION FOR SMALL SCREENS -->
					<ng-container *ngIf="isMobile$ | async; else desktopRef">
						<div class="hidden-print secondaryColumnSmall" [@slideInOut]="menuState">
							<app-page-navigator
								[configuration]="configService?.getConfiguration()"
								(helpClicked)="onHelpClicked(true)"
								(reset)="onReset()"
								(toggleMenu)="toggleMenu()"
							></app-page-navigator>
						</div>
					</ng-container>
					
					<!-- NAVIGATION FOR BIG SCREENS -->
					<ng-template #desktopRef>
						<div class="col-lg-3 col-md-3 col-sm-4 hidden-print secondaryColumnBig">
							<app-page-navigator
								[configuration]="configService?.getConfiguration()"
								(helpClicked)="onHelpClicked(false)"
								(reset)="onReset()"
							></app-page-navigator>
						</div>
					</ng-template>

					<!-- MENU FOR SMALL SCREENS -->
					<div class="visible-xs col-xs-12 menuLine">
						<button
							type="button"
							class="navbar-toggle btn btn-primary btn-xs"
							(click)="toggleMenu()"
							>
							<span class="sr-only">Toggle navigation</span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
						</button>
					</div>

					<!-- PAGES -->
					<div class="col-lg-9 col-md-9 col-sm-8 col-xs-12 mainColumn">
						<div id="questionCol">
							<app-page></app-page>
						</div>
					</div>

					<!-- HELP SCREEN -->
					<div
						bsModal
						#lgModal="bs-modal"
						class="modal fade"
						tabindex="-1"
						role="dialog"
						aria-labelledby="myLargeModalLabel"
						aria-hidden="true"
						>
						<div class="modal-dialog modal-lg">
							<div class="modal-content">
								<div class="modal-header">
									<h4 class="modal-title pull-left">
										{{ 'app-help-title' | lang }}
									</h4>
									<button
										type="button"
										class="close pull-right"
										(click)="lgModal.hide()"
										aria-label="Close"
										>
										<span aria-hidden="true">&times;</span>
									</button>
								</div>
								<div class="modal-body">
									<ngx-md [data]="'app-help' | lang"></ngx-md>
								</div>
							</div>
						</div>
					</div>

				</div>
			</div>
		</div>
	</div>
</main>

<!-- RESET MODAL -->
<div
	bsModal
	#importAlert="bs-modal"
	class="modal fade"
	tabindex="-1"
	role="dialog"
	aria-hidden="true"
>
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h3>{{ 'ResetWarningHeader' | lang }}</h3>
			</div>
			<div class="modal-body">
				{{ 'ResetWarningMessage' | lang }}
			</div>
			<div class="modal-footer">
				<button class="btn" (click)="importAlert.hide()">{{ 'Cancel' | lang }}</button>
				<button class="btn btn-primary" (click)="onResetApproved()">{{ 'Continue' | lang }}</button>
			</div>
		</div>
	</div>
</div>
