@import (reference) "../../../styles.less";

/**
 * Header container.
 */
header {
	width: 100%;
	display: inline-block;
	clear: both;
	position: relative;
	background: #fff;
	min-height: 100px;
	border-bottom: 1px solid #c1c1c1;
	padding-top: 15px;
	font-size: @default-font-size;

	.logo {
		max-width: 176px;
	}

	h1 {
		position: absolute;
		bottom: -47px;
		z-index: 100;
	}

	.container {
		height: 82px;
		position: relative;
	}

	ul {
		display: inline-block;
		margin-top: 5px;

		li {
			float: left;
			list-style: none;
			margin-right: 15px;
		}
	}

	ul.language {
		margin-right: 50px;
		float: right;
		font-size: 11px;
		font-weight: 700;

		li {
			margin-right: 5px;
		}

		/* Inactive languages */
		li a {
			margin-right: 5px;
			color: #585858;
		}

		/* The active language */
		li.active a {
			color: #94999e;
		}
	}
}

main {
	padding-bottom: 50px;
}

/**
 * Questionnaire container.
 */
.appContainer {

	overflow: hidden;

	@media screen {
		padding-top: 50px;
		padding-bottom: 50px;
	}

	/**
	 * Navigation column big screens.
	 */
	.secondaryColumnBig {
		padding-right: 5px;
	}

	/**
	 * Navigation column small screens.
	*/
	.secondaryColumnSmall {
		background: #94999e;
		opacity: 0.98;
		position: fixed;
		left: 0;
		top: 0;
		right: auto;
		bottom: 0;
		width: 60%;
		min-width: 250px;
		z-index: 101;
		padding: 15px;
		overflow-y: auto;
	}

	.mainColumn {
		padding-top: 10px;
	}
}

.menuLine {
	padding:4px;

	.navbar-toggle {
		position: relative;
		padding: 9px 10px;
		float: left !important;
		background: #fff;
		margin: 0px 10px 10px 10px;
		border: none;
		outline: none;
		box-shadow: none;

		.icon-bar {
			background: #737c88;
			display: block;
			width: 22px;
			height: 2px;
			border-radius: 1px;
		}

		.sr-only {
			position: absolute;
			width: 1px;
			height: 1px;
			padding: 0;
			margin: -1px;
			overflow: hidden;
			clip: rect(0,0,0,0);
			border: 0;
		}
	}
}
