<div class="container-fluid">

	<h2>{{ 'Export' | lang }}</h2>
	<p>{{ 'DownloadsDirectory' | lang }}</p>
<!--	<p *ngIf="defaultPath">{{'DefaultDownloadsDirectory'| lang}} <strong>{{defaultPath}}</strong></p>-->
	<button
		id="downloadButton"
		class="btn btn-default"
		type="button"
		(click)="download()"
		>
		{{ 'Download' | lang }}
	</button>

	<h2 class="importHeading">{{ 'Import' | lang }}</h2>
	<div *ngIf="!hasFileReader">{{ 'CannotUploadFile' | lang }}</div>

	<form id="fileUpload" *ngIf="hasFileReader" (submit)="onSubmit($event)">
		<div class="input-group">
			<label class="input-group-btn">
				<span class="btn btn-primary">
					{{ 'ChooseFile' | lang }}
					<input type="file" (change)="onChange($event)" style="display: none;">
				</span>
			</label>
			<input type="text" class="form-control" readonly value="{{ selectedFileName }}">
		</div>

		<button class="btn btn-default" [disabled]="isImportDisabled" type="submit">
			{{ 'Upload' | lang }}
		</button>
	</form>

	<app-page-import-modal-alert></app-page-import-modal-alert>

</div>
<!--<p-toast></p-toast>-->
