#menuCol {
	list-style-type: none;
	margin: 0;
	padding: 0;

	a {
		color: #2a343d;
	}

	a:hover {
		color: #2a343d;
	}

	li {
		float: left;
		width: 90%;
	}

	.reset-item a {
		cursor: pointer;
	}

	.pnc-page-level-0 {
		padding-left: 0px;
	}

	.pnc-page-level-1 {
		padding-left: 20px;
	}

	.pnc-page-level-2 {
		padding-left: 40px;
	}

	.pnc-current-page {
		font-weight: bold;
	}

	.pageIsAnswered:before {
		font-family: "Glyphicons Halflings";
		color: #008D36;
		content: "\e084";
	}

	.pageNotAnswered:before {
		font-family: "Glyphicons Halflings";
		color: grey;
		content: "\e131";
	}

	.evaluationPage:before {
		font-family: "Glyphicons Halflings";
		color: black;
		content: "\e006";
	}

	.evaluation {
		margin-top: 10px;
		margin-bottom: 10px;
	}

	.exportPage:before {
		margin-top: 100px;
		font-family: "Glyphicons Halflings";
		color: grey;
		content: "\e025";
	}

	.nonQuestionPage {
	}

	.menu-icon {
		float: left;
		width: 20px;
	}

}


.navigationContainer {
	button {
		margin-top: 20px;
		color: #666;
	}
	button:hover {
		color: #333;
	}
}

.navigationDesc {
	font-size: 11px;
	text-transform: uppercase;
	font-weight: 700;
	padding-left:10px;
	color: #94999e;
	border-bottom: 1px solid #D5D7DB;
	padding-bottom: 12px;
	margin-bottom: 12px;

}

.navigationDesc.light {
	color: #CCC;
}


.resetFilter {
	margin-top: 32px;
}

.helpButton:before {
	font-family: "Glyphicons Halflings";
	font-size: 18px;
	color: blue;
	content: "\e085";
}

.linkButton {
	padding: 5px;
	cursor: pointer;
	text-align: center;

	a:hover {
		text-decoration: none;
	}
}

.helpGap {
	height:20px;
}

.separator {
	border-top: 1px solid #D5D7DB;
	margin-top: 12px;
	padding-right: 10px;
	padding-left: 10px;
}

ul {
	display: inline-block;
	margin-top: 15px;
	padding-left: 10px;

	li {
		float: left;
		list-style: none;
		margin-right: 15px;
	}
}

ul.language {
	font-weight:700;

	li {
		margin-right: 15px;

		a {
			font-size: 12px;
			margin-right: 10px;
			color: #fff !important;
		}
	}

	li.active a {
		color: #333 !important;
	}
}

.menuLineOff {
	padding:0px;

	.navbar-toggle {
		position: relative;
		padding: 9px 10px;
		float: right !important;
		background: #f4520b;
		margin-bottom: 15px;
		margin-right: 0px;
		margin-top: 0px;
		border: none;
		outline: none;
		box-shadow: none;

		.icon-bar:nth-of-type(2) {
			top: 6px;
			-moz-transform: rotate(45deg);
			-ms-transform: rotate(45deg);
			-o-transform: rotate(45deg);
			-webkit-transform: rotate(45deg);
			transform: rotate(45deg);
		}

		.icon-bar:nth-of-type(3) {
			top: 1px;
			background: transparent;
		}

		.icon-bar:nth-of-type(4) {
			top: -6px;
			-moz-transform: rotate(-45deg);
			-ms-transform: rotate(-45deg);
			-o-transform: rotate(-45deg);
			-webkit-transform: rotate(-45deg);
			transform: rotate(-45deg);
		}

		.icon-bar {
			position: relative;
			background: #fff;
			display: block;
			width: 22px;
			height: 2px;
			border-radius: 1px;
		}

		.sr-only {
			position: absolute;
			width: 1px;
			height: 1px;
			padding: 0;
			margin: -1px;
			overflow: hidden;
			clip: rect(0,0,0,0);
			border: 0;
		}
	}
}

