<!-- TOP BAR -->
<div class="col-xs-12 visible-xs menuLineOff">
	<ul role="menu" class="language">
		<li role="menuitem" [ngClass]="{'active': configuration?.scriptLanguage === 'de'}">
			<a href="?lang=de" target="_self">D</a>&nbsp;|
		</li>
		<li role="menuitem" [ngClass]="{'active': configuration?.scriptLanguage === 'fr'}">
			<a href="?lang=fr" target="_self">F</a>
		</li>
		<!--
				<li role="menuitem" ng-class="{'active': lang === 'fr'}"><a href="?lang=fr" target="_self">F</a> |</li>
				<li role="menuitem" ng-class="{'active': lang === 'it'}"><a href="?lang=it" target="_self">I</a></li>
		-->
	</ul>

	<button type="button" class="navbar-toggle btn btn-primary btn-xs" (click)="closeMenu()">
		<span class="sr-only">Toggle navigation</span>
		<span class="icon-bar"></span>
		<span class="icon-bar"></span>
		<span class="icon-bar"></span>
	</button>
</div>

<div class="col-xs-12 container-fluid noborder">
	<div class="navigationContainer">
		<div class="navigationDesc">{{ 'Navigation' | lang }}</div>

		<ul id="menuCol">
			<ng-container *ngFor="let page of pages">
				<li
					class="{{ getPageLevelClass(page) }} {{ getClassForCurrentPage(page) }} {{ page.type }}"
					*ngIf="isVisibleMenu(page)"
					>
					<a href="" [routerLink]="['/page', page.id]" (click)="openPage(page)">
						<div class="menu-icon"><span [ngClass]="getMenuGlyphiconClass(page)"></span></div>
						<span>{{ 'menu' | lang:page.id }}</span>
					</a>
				</li>
			</ng-container>
		</ul>

		<div class="separator">
			<button
				type="button"
				class="btn col-md-12 col-xs-12"
				(click)="showResetAlert()"
				>
				{{ 'Reset' | lang }}
			</button>
		</div>
		<!--<app-reset-modal-alert></app-reset-modal-alert>-->
	</div>
</div>

<span class="col-xs-12 helpGap"></span>

<!-- HELP BUTTON -->
<div class="col-xs-12 container-fluid linkButton">
	<a (click)="showHelp()"><span class="helpButton"></span></a>
</div>
