<div class="singleChoiceContainer">
	<app-question-description-component
		[currentQuestion]="currentQuestion"
		[questionIndex]="questionIndex"
		>
	</app-question-description-component>

	<div class="radio option row" *ngFor="let option of currentOptions">
		 <label>
			<input
				type="radio"
				name="{{ currentQuestion.id }}"
				[value]="option.id"
				[checked]="isSelected(option)"
				(change)="onSelectionChange(option)"
				/>
			{{ 'title' | lang:option.id }}
		</label>
	</div>

	<div class="row comment-box" *ngIf="currentQuestion.allowComments">
		<textarea
			class="form-control col-xs-12"
			rows="2"
			placeholder="{{ 'Comment' | lang }}"
			[(ngModel)]="answer.comment"
			(change)="onChangeValue($event,true)"
			>
		</textarea>
	</div>
</div>
