<div class="multiChoiceContainer">
	<app-question-description-component
		[currentQuestion]="currentQuestion"
		[questionIndex]="questionIndex"
		>
	</app-question-description-component>

	<div
		class="checkbox option row"
		*ngFor="let option of currentOptions"
		>
		<div class="multiSelector">
			<label>
				<input
					type="checkbox"
					name="{{ currentQuestion.id }}"
					[value]="option.id"
					[checked]="isSelected(option)"
					(change)="onSelectionChange(option)" />
				{{ 'title' | lang:option.id }}
			</label>
		</div>
	</div>

	<!-- COMMENT BOX -->
	<div class="row comment-box" *ngIf="currentQuestion.allowComments">
		<textarea
			class="form-control col-xs-12"
			rows="2"
			placeholder="{{ 'Comment' | lang }}"
			[(ngModel)]="answer.comment"
			(change)="onChangeValue($event,true)"
			>
		</textarea>
	</div>
</div>
