<div class="multiTextFieldContainer">

	<!-- OVER SMALL SIZE VIEW -->
	<div class="row hidden-xs">
		<div class="col-lg-3 col-md-3 col-sm-4 col-xs-6 descriptionContainer">
			<app-question-description-component
				[currentQuestion]="currentQuestion"
				[questionIndex]="questionIndex"
			>
			</app-question-description-component>
		</div>
		<div class="col-lg-9 col-md-9 col-sm-8 col-xs-6 inline inputContainer {{currentQuestion.id}}">
			<input
				*ngFor="let field of textFields"
				[ngClass]="getFieldClassName(field)"
				type="text"
				[(ngModel)]="currentQuestion.answer.multiFieldTexts[field.id]"
				(change)="onChangeMultiValue($event, field.id)"/>
		</div>
	</div>

	<!-- SMALL SIZE VIEW -->
	<div class="row hidden-lg hidden-md hidden-sm">
		<div class="descriptionContainerXS">
			<app-question-description-component
				[currentQuestion]="currentQuestion"
				[questionIndex]="questionIndex"
			>
			</app-question-description-component>
		</div>
		<div class="inputContainerXS {{currentQuestion.id}}">
			<input
				*ngFor="let field of textFields"
				[ngClass]="getFieldClassName(field)"
				type="text"
				[(ngModel)]="currentQuestion.answer.multiFieldTexts[field.id]"
				(change)="onChangeMultiValue($event, field.id)"/>
		</div>
	</div>
</div>
