.multiTextFieldContainer {
	.descriptionContainer {
		padding-left: 0;
	}

	.inputContainer {
		padding-right: 15px;
		padding-left: 5px;

		input {
			margin-left: 10px;
		}

		input:first-child {
			margin-left: 0;
		}
	}

	.descriptionContainerXS {
		padding-bottom: 5px;
	}

	.inputContainerXS {
		margin-left: 15px;
		margin-right: 15px;

		input {
			margin-top: 5px;
			width: 100%;
		}

		input:first-child {
			margin-top: 0;
		}
	}
}
