.textfieldTypeContainer {
	.descriptionContainer {
		padding-left: 0;
	}

	.inputContainer {
		padding-right: 15px;
		padding-left: 15px;
		max-width: 100%;

		input {
			width: 100%;
		}
	}

	.descriptionContainerXS {
		padding-left: 0px;
		padding-bottom: 5px;
	}

	.inputContainerXS {
		padding-left: 0px;
		padding-right: 15px;
		max-width: 100%;

		input {
			width: 100%;
		}
	}
}
