<div class="textfieldTypeContainer">

	<!-- OVER SMALL SIZE VIEW -->
	<div class="row hidden-xs hidden-sm">
		<div class="col-lg-4 col-md-4 descriptionContainer">
			<app-question-description-component
				[currentQuestion]="currentQuestion"
				[questionIndex]="questionIndex"
				>
			</app-question-description-component>
		</div>
		<div class="col-lg-8 col-md-8 inputContainer {{ currentQuestion.id }}">
			<input
				type="text"
				[(ngModel)]="answer.text" 
				(change)="onChangeValue($event)"/>
		</div>
	</div>

	<!-- SMALL SIZE VIEW -->
	<div class="row hidden-lg hidden-md">
		<div class="descriptionContainerXS">
			<app-question-description-component
				[currentQuestion]="currentQuestion"
				[questionIndex]="questionIndex"
				>
			</app-question-description-component>
		</div>
		<div class="inputContainerXS {{currentQuestion.id}}">
			<input
				type="text"
				[(ngModel)]="answer.text" 
				(change)="onChangeValue($event)"/>
		</div>
	</div>

</div>
