@border-color: #eeeeee;
@bar-height: 14px;
@row-padding: 10px;
@padding-level1: 20px;
@padding-level2: 40px;
@padding-level3: 60px;

.results {

	.report-type, .report-additional-info {
		margin-left: 10px;
		
		label {
			padding-right: 15px;
		}
	}

	.overall-evaluation {
		font-weight: bold;
		font-size: 18px;
	}
	
	.page-name {
		font-weight: bold;
		font-size: 14px;
	}

	.page-score {
		font-size: 11px;
	}

	.vertical-align {
		display: flex;
		align-items: center;
	}

	/**
     * Column with page number
     */
	.eval-col-1 {
		text-align: left;
		font-weight: bold;
	}

	/**
     * Column with page name
     */
	.eval-col-2 {
		overflow: hidden;
	}

	/**
     * Column with percent
     */
	.eval-col-3 {
		font-weight: bold;
		text-align: center;
	}

	/**
     * Column with color
     */
	.eval-col-4-color1, .eval-col-4-color2, .eval-col-4-color3, .eval-col-4-color4, .eval-col-4-color5 {
		text-align: center;
		min-height: @bar-height;
		margin-right: 16px;
		margin-bottom: 3px;

		border: 1px solid @border-color - 30%;
		-webkit-print-color-adjust: exact;
	}
	.eval-col-4-color1 {
		background: #E30613 !important;
	}
	.eval-col-4-color2 {
		background: #F39200 !important;
	}
	.eval-col-4-color3 {
		background: #FCEA10 !important;
	}
	.eval-col-4-color4 {
		background: #95C11F !important;
	}
	.eval-col-4-color5 {
		background: #008D36 !important;
	}

	/**
     * Row with root page
     */
	.page-root {
		.eval-col-4 {
			min-height: @bar-height + 4px; // color bar height for level 1
		}
		border-top: 1px solid @border-color;
		margin-top: @row-padding * 2;
		padding-top: @row-padding;
	}

	/**
     * Row with page on level 1
     */
	.page-level-1 {
		.eval-col-4 {
			min-height: @bar-height; // color bar height for level 1
		}

		border-top: 1px solid @border-color;

		margin-top: @row-padding;

		padding-top: @row-padding;
	}

	.page-score-1 {
		padding-bottom: @row-padding;
	}
	
	/**
     * Row with page on level 2
     */
	.page-level-2, .page-score-2 {

		.eval-col-2 {
			.page-name {
				padding-left: @padding-level1;
			}

			.page-score {
				padding-left: @padding-level1;
			}
		}
	}

	/**
     * Row with page on level 3
     */
	.page-level-3, .page-score-3 {
	}

	/**
     * Row with page on level XX // TODO: add new styles for levels here
     */
	.page-level-XX {
	}

	/**
     * Detailed report panel
     */
	.detailed-report-panel {

		border-top: 1px dashed @border-color;
		padding-left: 80px;
		margin-top: @row-padding;
		padding-top: @row-padding;

		input {
			margin-left: 20px;
		}

		.report-type {
			padding-top: 10px;
		}
		.report-additional-info {
		}
	}

	/**
     * Detailed report content
     */
	.detailed-report {

		margin-top: 10px;

		.report-page-row {
			padding-top: 20px;
		}

		.report-page-number {
			text-align: left;
			font-weight: bold;
		}

		.report-page-title {
			text-align: left;

			.page-name {
				font-weight: bold;
			}

			.page-score {
			}
		}

		.report-page-percent {
			text-align: right;
			font-weight: bold;
		}

		.report-question-row {

			/* Additional question information */
			.report-question-description {
				display: inline-flex;

				.description-bullet::before {
					content: "\2192";
				}

				markdown {
					padding-left: 10px;
				}
			}

			/* Question footer */
			.report-question-footer {
				display: inline-flex;

				.footer-bullet::before {
					content: "\2192";
				}

				.footer-text {
					padding-left: 10px;
				}
			}

			.text-field-question {
			}
			.text-field-answer {
			}

			/* Text area field */
			.text-area-type {

				.text-area-question {
					font-weight: bold;
					margin-bottom: 10px;
				}
				.text-area-answer {
				}
			}

			.text-field-answer-multi {
				margin-bottom: 10px;
			}

			.report-question-number {
				text-align: left;
				font-weight: bold;
				border-bottom: 1px dotted @border-color;
				border-right: 1px dotted @border-color;
			}

			.report-question-title {
				text-align: left;
				font-weight: bold;
				padding-bottom: 10px;
			}

			/* Question comment */
			.report-question-comment {
				margin-top: 10px;
			}

			/* Question container by singleChoice/multiChoice/dropDown type */
			.report-question-container-singleChoice,
			.report-question-container-multipleChoice,
			.report-question-container-dropDown {
				border: 1px solid @border-color;
				border-radius: 6px;
				margin-top: 10px;
				padding: 10px;
			}
			.report-question-container-singleChoice {
			}
			.report-question-container-multipleChoice {
			}
			.report-question-container-dropDown {
			}

			/* Question container by textField type */
			.report-question-container-textField {
			}
		}

		.no-score {
			.report-question-container-singleChoice,
			.report-question-container-multipleChoice,
			.report-question-container-dropDown {
				border: none;
			}
		}
	}
}
