<div class="container-fluid results">

	<!--
		PAGE TITLE
	-->
	<div class='visible-print-block'>
		<h1>{{ 'app-title' | lang }}</h1>
		<h2>{{ 'Evaluation' | lang }}</h2>
	</div>
	<div class='hidden-print'>
		<h1>{{ 'Evaluation' | lang }}</h1>
	</div>

	<!--
		DETAILED REPORT PANEL
	-->
	<div class="hidden-print">
		<div class="checkbox option row">
			<label>
				<input
					type="checkbox"
					name="show-detailed-evaluation"
					[(ngModel)]="panelModel.showDetailedEvaluation"
					/>
				{{ 'ShowDetailedEvaluation' | lang }}
			</label>
		</div>
<!--
		<div class="report-type radio option" *ngIf="panelModel.showDetailedEvaluation">
			<label>
				<input
					type="radio"
					name="type-of-report"
					[checked]="!panelModel.isFullReport"
					(change)="panelModel.isFullReport = !panelModel.isFullReport"
					/>
				{{'ManagementSummary' | lang}}
			</label>
			<label>
				<input
					type="radio"
					name="type-of-report"
					[checked]="panelModel.isFullReport"
					(change)="panelModel.isFullReport = !panelModel.isFullReport"
					/>
				{{'FullReport' | lang}}
			</label>
		</div>
-->
		<div class="report-additional-info checkbox option" *ngIf="panelModel.showDetailedEvaluation">
			<label>
				<input
					type="checkbox"
					name="question-additional-information"
					[(ngModel)]="panelModel.showQuestionAdditionalInfo"
					/>
				{{ 'QuestionAdditionalInformation' | lang }}
			</label>
			<label>
				<input
					type="checkbox"
					name="all-answers"
					[(ngModel)]="panelModel.showAllAnswers"
					/>
				{{ 'AllAnswers' | lang }}
			</label>
			<label>
				<input
					type="checkbox"
					name="comment"
					[(ngModel)]="panelModel.showQuestionComment"
					/>
				{{ 'Comment' | lang }}
			</label>
		</div>
	</div>

	<!--
		ROOT EVALUATION ROW
	-->
	<div class="row vertical-align page-root">
		<!-- PAGE TITLE/DESCRIPTION COLUMN -->
		<div class="col-lg-9 col-md-9 col-sm-9 col-xs-9">
			<div class="overall-evaluation">{{ 'EvaluationHeader' | lang }}</div>
		</div>
		<!-- PERCENT COLUMN -->
		<div class="eval-col-3 col-lg-2 col-md-2 col-sm-2 col-xs-2">
			<div class="overall-evaluation">{{ getPercentage(ROOT_NODE) }}%</div>
		</div>
		<!-- COLOR BAR COLUMN -->
		<div
			class="eval-col-4 eval-col-4-color{{ percentColor(getPercentage(ROOT_NODE)).toString() }} col-lg-1 col-md-1 col-sm-1 col-xs-1">
		</div>
	</div>
	<div class="row">
		<div class="col-lg-9 col-md-9 col-sm-9 col-xs-9 page-score">
			{{ 'QuestionsAnswered' | lang:null:getAnsweredQuestions(ROOT_NODE) }}
		</div>
		<div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 page-score"></div>
	</div>

	<!--
		PAGES ROWS
	-->
	<ng-container *ngFor="let page of pages">
		<div class="row vertical-align {{ 'page-level-' + (page.pageLevel+1) }}" *ngIf="isPageReadyToShow(page)">
			<!-- PAGE NUMBER COLUMN -->
			<div class="eval-col-1 col-lg-1 col-md-1 col-sm-1 col-xs-1">
				{{ page.showPageNumber }}
			</div>
			<!-- PAGE TITLE/DESCRIPTION COLUMN -->
			<div class="eval-col-2 col-lg-8 col-md-8 col-sm-8 col-xs-8">
				<div class="page-name">{{ 'menu' | lang:page.id }}</div>
			</div>
			<!-- PERCENT COLUMN -->
			<div class="eval-col-3 col-lg-2 col-md-2 col-sm-2 col-xs-2">
				<div *ngIf="showPageResult(page.id)">{{ getPercentage(page.id) }}%</div>
			</div>
			<!-- COLOR BAR COLUMN -->
			<div
				class="eval-col-4-color{{ percentColor(getPercentage(page.id)).toString() }} col-lg-1 col-md-1 col-sm-1 col-xs-1"
				*ngIf="showPageResult(page.id)">
			</div>
		</div>
		<div class="row vertical-align {{ 'page-score-' + (page.pageLevel+1) }}" *ngIf="isPageReadyToShow(page)">
			<div class="eval-col-1 col-lg-1 col-md-1 col-sm-1 col-xs-1">
			</div>
			<!-- PAGE TITLE/DESCRIPTION COLUMN -->
			<div class="eval-col-2 col-lg-9 col-md-9 col-sm-9 col-xs-9">
				<div class="page-score" *ngIf="getPageResult(page.id).hasScore">
					{{ 'QuestionsAnswered' | lang:null:getAnsweredQuestions(page.id) }}
				</div>
				<div class="page-score" *ngIf="!getPageResult(page.id).hasScore">
					{{ 'NoScoringQuestions' | lang:null:getAnsweredQuestions(page.id)}}
				</div>
			</div>
			<div class="eval-col-2 col-lg-2 col-md-2 col-sm-2 col-xs-2">
			</div>
		</div>
	</ng-container>

	<div class="row vertical-align page-level-1"></div>

	<!--
		DETAILED REPORT CONTAINER
	-->
	<div class="detailed-report" *ngIf="panelModel.showDetailedEvaluation">

		<!-- REPORT PAGES -->
		<ng-container *ngFor="let page of pages">
			<!-- PAGE HEADER -->
			<div class="row report-page-row" *ngIf="isVisibleDetailedPage(page)">
				<!-- PAGE NUMBER -->
				<div class="report-page-number col-lg-1 col-md-1 col-sm-1 col-xs-1">
					{{ page.showPageNumber }}
				</div>
				<!-- PAGE NAME -->
				<div class="report-page-title col-lg-10 col-md-9 col-sm-9 col-xs-9">
					<div class="page-name">
						{{ 'title' | lang:page.id }}
					</div>
					<div class="page-score" *ngIf="getPageResult(page.id).hasScore">
						{{ 'QuestionsAnswered' | lang:null:getAnsweredQuestions(page.id) }}
					</div>
				</div>
				<!-- PAGE PERCENT -->
				<div class="report-page-percent col-lg-1 col-md-2 col-sm-2 col-xs-2">
					{{ getPageResult(page.id).hasScore ? getPercentage(page.id) + '%': '' }}
				</div>
			</div>

			<!-- QUESTIONS -->
			<ng-container *ngFor="let question of questionsForPage(page); let i = index">
				<div class="row report-question-row {{ question.hasScore ? '' : 'no-score' }}">
					<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" *ngIf="isVisibleDetailedPage(page)">
						<div class="col-lg-1 col-md-1 col-sm-1 col-xs-1"></div>
						<div class="report-question-container-{{ question.type }} col-lg-11 col-md-11 col-sm-11 col-xs-11">

							<!-- QUESTION WITH TEXTFIELD -->
							<div *ngIf="question.type === QuestionType[QuestionType.textField]">
								<div class="text-field-question col-lg-6 col-md-6 col-sm-6 col-xs-6">
									{{ 'title' | lang:question.id }}
								</div>
								<div class="text-field-answer col-lg-5 col-md-5 col-sm-5 col-xs-5">
									{{ question.answer.text }}
								</div>
							</div>

							<!-- QUESTION WITH MULTITEXTFIELD -->
							<div *ngIf="question.type === QuestionType[QuestionType.multiTextField]">
								<div class="text-field-question col-lg-6 col-md-6 col-sm-6 col-xs-6">
									{{ 'title' | lang:question.id }}
								</div>
								<div class="col-lg-5 col-md-5 col-sm-5 col-xs-5">
									<input
										class="text-field-answer-multi"
										*ngFor="let field of question.fields"
										readonly
										type="text"
										[ngModel]="question.answer.multiFieldTexts[field.id]"/>
								</div>
							</div>

							<!-- QUESTION WITH TEXTAREA -->
							<div
								class="text-area-type col-lg-12 col-md-12 col-sm-12 col-xs-12"
								*ngIf="question.type === QuestionType[QuestionType.textArea]"
								>
								<div class="text-area-question">
									{{ 'title' | lang:question.id }}
								</div>
								<div class="text-area-answer">
									{{ question.answer.text }}
								</div>
							</div>

							<!-- QUESTION WITH SINGLE/MULTIPLE CHOICE AND DROPDOWN -->
							<div *ngIf="isChoiceComponent(question.type)">

								<!-- QUESTION NUMBER/TITLE -->
								<ng-container *ngIf="question.hasScore">
									<div class="report-question-number col-lg-1 col-md-1 col-sm-1 col-xs-1">
										{{ page.showPageNumber + '.' + (i+1).toString() }}
									</div>
									<div class="report-question-title col-lg-10 col-md-10 col-sm-10 col-xs-10">
										{{ 'title' | lang:question.id }}
									</div>
								</ng-container>
								<ng-container *ngIf="!question.hasScore">
									<div class="report-question-title col-lg-11 col-md-11 col-sm-11 col-xs-11">
										{{ 'title' | lang:question.id }}
									</div>
								</ng-container>

								<!-- ADDITIONAL INFORMATION -->
								<div
									class="report-question-description col-lg-11 col-md-11 col-sm-11 col-xs-11"
									*ngIf="isVisibleQuestionAdditionalInfo(question)"
									>
									<span class="description-bullet"></span>
									<ngx-md [data]="'description' | lang:question.id"></ngx-md>
								</div>

								<!-- SINGLE/MULTIPLE -->
								<ng-container *ngIf="question.type !== QuestionType[QuestionType.dropDown]">
									<ng-container *ngFor="let option of question.options">
										<!--<div class="col-lg-11 col-md-11 col-sm-11 col-xs-11" *ngIf="isVisibleAnswer(question, option)"> -->
										<div
											class="{{ question.type === QuestionType[QuestionType.singleChoice] ? 'radio' : 'checkbox' }} option"
											*ngIf="isVisibleAnswer(question, option)"
											>
										 <label>
												<input
													type="{{ question.type === QuestionType[QuestionType.singleChoice] ? 'radio' : 'checkbox' }}"
													name="{{ question.id }}"
													disabled
													[value]="option.id"
													[checked]="question.answer.selection.get(option.id)"/>
													{{ 'title' | lang:option.id }}
											</label>
										</div>
									</ng-container>
								</ng-container>
								<!-- DROPDOWN -->
								<ng-container *ngIf="question.type === QuestionType[QuestionType.dropDown]">
									<select
										class="form-control col-lg-11 col-md-11 col-sm-11 col-xs-11"
										[value]="getDropdownValue(question)"
										disabled
										>
										<option
											*ngFor="let option of question.options"
											[value]="option.id"
											[selected]="question.answer.selection.get(option.id)">
											{{ 'title' | lang:option.id }}
									</option>
								</select>
							</ng-container>
						</div>

						<!-- QUESTION FOOTER -->
						<div
							class="report-question-footer col-lg-11 col-md-11 col-sm-11 col-xs-11"
							*ngIf="isVisibleQuestionFooter(page, question)"
							>
							<span class="footer-bullet"></span>
							<div class="footer-text">{{ getQuestionFooter(page, question) }}</div>
						</div>

						<!-- QUESTION COMMENT -->
						<div
							class="report-question-comment col-lg-12 col-md-12 col-sm-12 col-xs-12"
							*ngIf="isVisibleQuestionComment(question)"
							>
							{{ question.answer.comment }}
						</div>
					</div>
				</div>
			</div>
		</ng-container>
	</ng-container>

</div>
</div>
