PRINT PAGE TEST
<!--
<div class="print container-fluid">
	<div class="row">
		<h1 class="col-xs-12">{{questionnaireTitle}}</h1>
		<div class="resultLink col-xs-2 hidden-print">
			<a ui-sref="main.result" ng-click="focusOpener()">{{'BackToResult'| lang}}</a>
		</div>
		<div class="col-xs-12">{{'PercentReached'| lang:getScorePercent(questionnaire.assessmentScore)}} {{'QuestionsAnswered'| translate:getAnsweredQuestions(questionnaire.assessmentScore)}}</div>
		<div class="col-xs-12" d3-bar score="questionnaire.assessmentScore.percent" color="'#438ba9'" bar-height="20" bar-padding="2" max="100"></div>
	</div>

	<div class="page" ng-repeat="page in questionnaire.pages| sigPrintPages:detailed" ng-init="pageScore = getPageScore(page)">
		<div class="row">
			<h2 ng-class="{'col-xs-4': !detailed, 'col-xs-2': detailed}">{{::getPageTitle(page)}}</h2>
			<div class="col-xs-2" ng-if="pageScore.max">
				<div d3-bar score="pageScore.percent" max="100" color="'#333'" bar-height="20" bar-padding="2"></div>
			</div>
			<div class="col-xs-6" ng-if="pageScore.max">
				{{'PercentReached'| translate:getScorePercent(pageScore)}} {{'QuestionsAnswered'| translate:getAnsweredQuestions(pageScore)}}
			</div>
		</div>

		<div class="childPage" ng-repeat="childPage in page.children| sigPrintPages:detailed"
			 ng-init="pageScore = getPageScore(childPage); scoreValues = {score: pageScore.score, max: pageScore.max}">
			<div class="row">
				<h3 class="col-xs-3 col-xs-offset-1">{{::getPageTitle(childPage)}}</h3>
				<div class="col-xs-3" ng-if="pageScore.max">{{::'ScoreReached'| translate:scoreValues}}</div>
			</div>

			<div class="questions" ng-if="detailed || childPage.printSummary === 2">
				<div class="row" ng-repeat="question in getPageQuestions(childPage)">
					<div class="col-xs-9 col-xs-offset-2">
						<sig-print-question
							question="question" answers="questionnaire.answers" page="childPage"
							number="$index" language="language"
											additional-info="info"
											checked-answers-only="checkedOnly"
											show-comments="comments">
						</sig-print-question>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

-->