<div 
	*ngIf="isModalShown" 
	[config]="{show: true}"
	bsModal 
	class="modal fade" 
	tabindex="-1" 
	role="dialog" 
	aria-hidden="true"
	>
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h3>{{ 'ResetWarningHeader' | lang }}</h3>
			</div>
			<div class="modal-body">
				{{ 'ResetWarningMessage' | lang }}
			</div>
			<div class="modal-footer">
				<button 
					class="btn" 
					(click)="cancelResetQuestions()">{{ 'Cancel' | lang }}
				</button>
				<button 
					class="btn btn-primary" 
					(click)="resetQuestions()">{{ 'Continue' | lang }}
				</button>
			</div>
		</div>
	</div>
</div>
