.questionTitle {

	h3 {
		margin-top: 0;
		font-size: 14px;
		font-weight: bold;
		line-height: 20px;
	}

	.inlineQuestionTitle h3 {
		margin: 0;
		padding: 3px 0 0 0;
	}

	.mandatoryQuestion {
		color: red;

		font-size: 20px;
		line-height: 20px;

		float: left;
		width: 15px;
	}

	.questionTitle {
		display: flex;

		.questionNumber {
			font-weight: bold;
			margin-right: 10px;
		}
	}

	.questionDescription {
		color: #387e94;
	}

	.descriptionLink {
		cursor: pointer;
		margin-bottom: 10px;

		.descriptionBullet:before {
			content: "\2192";
			float: left;
			margin-right: 10px;
		}

		.descriptionBulletText {
			display: flex;
		}
	}

	.actionsLink {
		cursor: pointer;
		margin-bottom: 10px;

		.actionBullet:before {
			content: "\2192";
			float: left;
			margin-right: 10px;
		}

		.actionBulletText {
			display: flex;
		}
	}
}
