<div class="questionTitle">

	<!-- NON-TEXT FIELD QUESTION -->
	<div *ngIf="this.currentQuestion.type === QuestionType[QuestionType.singleChoice]
		|| this.currentQuestion.type === QuestionType[QuestionType.multipleChoice]
		|| this.currentQuestion.type === QuestionType[QuestionType.textArea]; else textFieldBlock"
	>

		<!-- TITLE -->
		<div class="row">
			<h3>
				<span class="inline mandatoryQuestion" *ngIf="isMandatory; else notMandatory">*</span>
				<ng-template #notMandatory>
				  <span class="inline mandatoryQuestion">&nbsp;</span>
				</ng-template>
				<span class="questionTitle">
					<span class="questionNumber" *ngIf="showQuestionNumber">{{ questionNumber }}</span>
					{{ 'title' | lang:currentQuestion.id }}
				</span>
			</h3>
		</div>

		<!-- ADDITIONAL INFO AND ACTIONS BUTTON  && !showDescriptionsImmediately-->
		<div class="row">
			<div class="col-lg-5 col-md-5 col-sm-5 col-xs-12 descriptionLink" *ngIf="showButtonForAdditionalInfo">
				<span class="descriptionBullet"></span>
				<span class="descriptionBulletText"><a (click)="toggleDescription()">{{ 'AdditionalInfo' | lang }}</a></span>
			</div>
			<div
				class="col-lg-7 col-md-7 col-sm-7 col-xs-12 actionsLink"
				*ngIf="currentQuestion.actionIds && currentQuestion.actionIds.length > 0"
				>
				<span class="actionBullet"></span>
				<span class="actionBulletText"><a (click)="onActionClickHandler()">{{ 'Actions' | lang }}</a></span>
			</div>
		</div>

		<!-- DESCRIPTION -->
		<div class="row" *ngIf="descriptionVisible || showDescriptionsImmediately">
			<ngx-md class="questionDescription col-xs-12" [data]="'description' | lang:currentQuestion.id"></ngx-md>
		</div>

	</div>

	<!-- TEXT FIELD OR DROPDOWN OR MULTI TEXT FIELD QUESTION -->
	<ng-template #textFieldBlock>
		<div class="inlineQuestionTitle">
			<h3>
				<span class="inline mandatoryQuestion" *ngIf="isMandatory; else notMandatory">*</span>
				<ng-template #notMandatory>
				  <span class="inline mandatoryQuestion">&nbsp;</span>
				</ng-template>
				<span class="questionTitle">
					<span class="questionNumber" *ngIf="showQuestionNumber">{{ questionNumber }}&nbsp;</span>
					{{ 'title' | lang:currentQuestion.id }}
				</span>
			</h3>
		</div>
	</ng-template>

</div>
