<div class="container-fluid">
	<app-page-title
		[currentPage]="dataService.getCurrentPage()"
	></app-page-title>

	<div class="questionRow" *ngFor="let question of questionsForCurrentPage; index as i">
		 <app-question
			[currentQuestion]="question"
			[questionIndex]="i"
		></app-question>
	</div>
</div>
