<div class="textareaTypeContainer">
	<app-question-description-component
		[currentQuestion]="currentQuestion"
		[questionIndex]="questionIndex"
		>
	</app-question-description-component>

	<div class="row textareaContainer {{currentQuestion.id}}">
		<textarea
			class="form-control col-xs-12" 
			rows="3" 
			[(ngModel)]="answer.text"
			(change)="onChangeValue($event)"
			>			
		</textarea>
	</div>
</div>