@import (reference) "../../../styles.less";

.content  {

	.navigation {
		padding-top: 10px;

		button {
			font-size: @default-font-size;
		}

		.pageNumber {
			margin-top: 8px;
			font-size: @default-font-size;
		}
	}
}
