<div
	class="content {{ currentPageId }}"
	[ngSwitch]="currentPageType"
	>
	<app-page-type-question
		*ngSwitchCase="PageType[PageType.question]">
	</app-page-type-question>

	<app-page-type-evaluation
		*ngSwitchCase="PageType[PageType.evaluation]">
	</app-page-type-evaluation>

	<app-page-type-export
		*ngSwitchCase="PageType[PageType.export]">
	</app-page-type-export>

	<!-- NAVIGATION PANEL -->
	<div class="row navigation hidden-print">
		<div [ngClass]="showPageCounter ? 'col-lg-3 col-md-3 col-sm-3 col-xs-4' : 'col-lg-6 col-md-6 col-sm-6 col-xs-6'">
			<button
				type="button"
				class="pull-left btn btn-default"
				(click)="switchPage(Direction.PrevPage)"
				*ngIf="showPrevButton"
				>
				{{ 'PreviousPage' | lang }}
			</button>
		</div>

		<!-- CurrentPageFromLong will replaced by string from template: "Page {{CURRENT}} / {{TOTAL}}" -->
		<div *ngIf="showPageCounter" class="col-lg-6 col-md-6 col-sm-6 hidden-xs text-center pageNumber">
			{{ 'CurrentPageFromLong' | lang:null:[currentPageNumber,totalPages] }}
		</div>
		<!-- CurrentPageFromShort will replaced by string from template: "{{CURRENT}} / {{TOTAL}}" -->
		<div *ngIf="showPageCounter" class="col-xs-4 visible-xs text-center pageNumber">
			{{ 'CurrentPageFromShort' | lang:null:[currentPageNumber,totalPages] }}
		</div>

		<div [ngClass]="showPageCounter ? 'col-lg-3 col-md-3 col-sm-3 col-xs-4' : 'col-lg-6 col-md-6 col-sm-6 col-xs-6'">
			<button
				type="button"
				class="pull-right btn btn-default"
				(click)="switchPage(Direction.NextPage)"
				*ngIf="showNextButton"
				>
				{{ nextPageLabel | lang }}
			</button>
		</div>
	</div>

</div>
