.dropDownContainer {
	.descriptionContainer {
	  padding-top: 4px;
		padding-left: 0;
	}

	.inputContainer {
		padding-right: 15px;
		padding-left: 5px;

		input {
			width: 100%;
		}
	}

	.descriptionContainerXS {
		padding-bottom: 5px;
	}

	.inputContainerXS {
		margin-left: 15px;
		margin-right: 15px;

		input {
			padding-top: 5px;
			width: 100%;
		}
	}

	select {
		//background: red;

		option {
			//background: green;
		}
	}
}
