<div class="dropDownContainer">

	<!-- OVER SMALL SIZE VIEW -->
	<div class="row hidden-xs">
		<div class="col-lg-3 col-md-3 col-sm-4 col-xs-6 descriptionContainer">
			<app-question-description-component
			  [currentQuestion]="currentQuestion"
			  [questionIndex]="questionIndex">
			</app-question-description-component>
		</div>
		<div class="col-lg-9 col-md-9 col-sm-8 col-xs-6 inputContainer {{currentQuestion.id}}">
			<select class="form-control" (change)="onSelectionChange($event)" [value]="optionValue">
				<option *ngFor="let option of currentOptions" [value]="option.id" [selected]="isSelected(option)">
					{{ 'title' | lang:option.id }}
				</option>
			</select>
		</div>
	</div>

	<!-- SMALL SIZE VIEW -->
	<div class="row hidden-lg hidden-md hidden-sm">
		<div class="descriptionContainerXS">
			<app-question-description-component
			  [currentQuestion]="currentQuestion"
			  [questionIndex]="questionIndex">
			</app-question-description-component>
  	</div>
		<div class="inputContainerXS {{currentQuestion.id}}">
			<select
				class="form-control"
				(change)="onSelectionChange($event)"
				[value]="optionValue"
				>
				<option *ngFor="let option of currentOptions" [value]="option.id" [selected]="isSelected(option)">
					{{ 'title' | lang:option.id }}
				</option>
			</select>
		</div>
  </div>

	<!-- COMMENT BOX -->
	<div class="row" *ngIf="currentQuestion.allowComments">
		<textarea
			class="col-xs-12"
			rows="2"
			placeholder="{{ 'Comment' | lang }}"
			[(ngModel)]="answer.comment"
			(change)="onChangeValue($event,true)"
			>
		</textarea>
	</div>

</div>
