<div
	class="question container-fluid"
	[ngSwitch]="currentQuestion.type"
	>

	<app-multiple-choice
		*ngSwitchCase="QuestionType[QuestionType.multipleChoice]"
		[currentQuestion]="currentQuestion"
		[questionIndex]="questionIndex"
		>
	</app-multiple-choice>

	<app-single-choice
		*ngSwitchCase="QuestionType[QuestionType.singleChoice]"
		[currentQuestion]="currentQuestion"
		[questionIndex]="questionIndex"
		>
	</app-single-choice>

	<app-text-field
		*ngSwitchCase="QuestionType[QuestionType.textField]"
		[currentQuestion]="currentQuestion"
		[questionIndex]="questionIndex"
		>
	</app-text-field>

	<app-text-area
		*ngSwitchCase="QuestionType[QuestionType.textArea]"
		[currentQuestion]="currentQuestion"
		[questionIndex]="questionIndex"
		>
	</app-text-area>

	<app-drop-down
		*ngSwitchCase="QuestionType[QuestionType.dropDown]"
		[currentQuestion]="currentQuestion"
		[questionIndex]="questionIndex"
		>
	</app-drop-down>

	<app-multi-text-field
		*ngSwitchCase="QuestionType[QuestionType.multiTextField]"
		[currentQuestion]="currentQuestion"
		[questionIndex]="questionIndex"
		>
	</app-multi-text-field>

	<div class="row feedback">{{ feedbackText }}</div>
	<hr/>
</div>
