@import "~bootstrap/dist/css/bootstrap.css";
@import "~font-awesome/css/font-awesome.css";

// regular style toast
@import '~ngx-toastr/toastr';

/**
 * Global styles.
 */

@default-font-size: 12px;
@line-height-factor: 1.3;
@wide-text-field: 400px;
@narrow-text-field: 150px;
@h1-size: 1.602em;
@h2-size: 1.424em;
@h3-size: 1.266em;
@h4-size: 1.125em;

html {
	overflow-y: scroll;
}

body {
	background: #ebebeb none repeat scroll 0 0!important;
	font-family: Arial, sans-serif;
	font-size: @default-font-size;
}

html, body {
	height: 100%;
}

p {
	line-height: 20px;
}

a {
	color: #f4520b;
}

a:hover {
	color: #f4520b;
}

#toasty .toast.toasty-theme-bootstrap.toasty-type-warning {
	background-color: #f4520b;
}

.container-fluid {
	background: #ffffff;
	border-radius: 4px;
	color: #585858;
	max-width: 100%;
	top: 10px;
	left: 0;
	padding: 15px;
}

.modal-dialog {

	.btn-primary {
		background-color: #f4520b;
		border-color: #f4520b;
	}

}

#questionCol {
	h1 {
		font-size: (@default-font-size * 1.931);
		line-height: (@default-font-size * 1.931 * @line-height-factor);
		margin-top: 5px;
		margin-bottom: 10px;
		color: #2a343d;
	}

	.pageTitle {
		margin-bottom: 20px;
		display: flex;
	}

	h2 {
		font-size: (@default-font-size * 1.618);
		line-height: (@default-font-size * 1.618 * @line-height-factor);
		margin-top: 15px;
		margin-bottom: 5px;
	}

	label {
		font-size: @default-font-size;
		font-weight: normal;
	}

	markdown {
		h1 {
			font-size: @h1-size;
			line-height: (@h1-size * @line-height-factor);
			margin-top: 15px;
			margin-bottom: 5px;
		}

		h2 {
			font-size: @h2-size;
			line-height: (@h2-size * @line-height-factor);
			margin-top: 15px;
			margin-bottom: 5px;
		}

		h3 {
			font-size: @h3-size;
			line-height: (@h3-size * @line-height-factor);
			font-weight: 700;
			margin-top: 15px;
			margin-bottom: 5px;
		}

		h4 {
			font-size: @h4-size;
			line-height: (@h4-size * @line-height-factor);
			font-weight: 700;
			margin-top: 15px;
			margin-bottom: 5px;
		}
	}

	.option {
		padding-left: 15px;
		padding-right: 15px;
	}

	.feedback {
		.option;
		color: #387e94;
	}

	.q-company-name, .q-author, .q-updated-by,
	.q-datacenter-name, .q-datacenter-room
	{
		width: @wide-text-field;
	}

	.q-update-date, .q-assessment-start, .q-assessment-end {
		width: @narrow-text-field;
	}

	.p-dc-information .inputContainer {
		width: @narrow-text-field;
	}
}
