<h1 class="pageTitle">
	<span
		class="number"
		*ngIf="showPageNumber">{{ currentPage.showPageNumber }}.
	</span>
	<span class="title">{{ 'title' | lang:currentPage.id }}</span>
</h1>

<ngx-md *ngIf="showDescription" [data]="description"></ngx-md>

