<div 
	*ngIf="isModalShown"
	[config]="{show: true}" 
	(onHidden)="onHidden()" 
	bsModal #autoShownModal="bs-modal" 
	class="modal fade" 
	tabindex="-1" 
	role="dialog" 
	aria-hidden="true"
	>
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h3>{{ 'ImportWarningHeader' | lang }}</h3>
			</div>
			<div class="modal-body">
				{{ 'ImportWarningMessage' | lang }}
			</div>
			<div class="modal-footer">
				<button id="Cancel" class="btn" (click)="cancelImport()">{{ 'Cancel' | lang }}</button>
				<button id="Import" class="btn btn-primary" (click)="continueImport()">{{ 'Continue' | lang }}</button>
			</div>
		</div>
	</div>
</div>
